@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/Home/profile-module.js")" type="text/javascript"></script>

<script id="tmpl-dashboard" type="text/html">
    <div id="dashboard-wrapper">
        <label>Dashboard page</label>
        <div class="container " id="body-container">
            
            <div>
                <form id="company">
                    <div><span>Company Details:</span></div>
                    <div class="input-group">
                        <label>Contractor name</label>
                        <input type="text" class="form-control" placeholder="ContractorName" >
                    </div>
                    <div class="input-group">
                        <label>Serial Number</label>
                        <input type="text" class="form-control" placeholder="SerialNumber" >
                    </div>
                    <div class="input-group">
                        <label>CIF/CUI</label>
                        <input type="text" class="form-control" placeholder="CIF/CUI" >
                    </div>
                    <div class="input-group">
                        <label>IBAN</label>
                        <input type="text" class="form-control" placeholder="IBAN" >
                    </div>
                    <div class="input-group">
                        <label>Bank</label>
                        <input type="text" class="form-control" placeholder="Bank" >
                    </div>
                    <div class="input-group">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Email" >
                    </div>
                    <div class="input-group">
                        <label>Telephone</label>
                        <input type="text" class="form-control" placeholder="Telephone" >
                    </div>
                    <div class="input-group">
                        <label>SocialCapital</label>//need to make two cases for add company. one for user, the rest for facts
            <input type="text" class="form-control" placeholder="SocialCapital" >
                    </div>
                    <div class="input-group">
                        <label>TVARate</label>
                        <input type="text" class="form-control" placeholder="TVARate" >
                    </div>
                    <div class="buttons">
                        <button type="button" >Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script id="tmpl-company" type="text/html">
     <div class="container">
        <label>here we will add companies</label>
    </div>
</script>

<script id="tmpl-account" type="text/html">
     <div class="container">
        <label>here we will have account template</label>
    </div>
</script>

<script id="tmpl-profile" type="text/html" data-bind="with: BindingContext">
    <div class="container" >
        <div>
                <form id="user">
                    <div>
                        <div><span >User details:</span></div>
                        <div class="input-group">
                            <label>Username</label>
                            <input type="text" class="form-control" placeholder="Username" disabled >
                        </div>
                        <div class="input-group">
                            <label>First name</label>
                            <input type="text" class="form-control" placeholder="Firstname" >
                        </div>
                        <div class="input-group">
                            <label>Last name</label>
                            <input type="text" class="form-control" placeholder="Lastname" >
                        </div>
                            <div>
                            <button>Update</button>
                            </div>
                    </div>
                </form>
            </div>
    </div>
</script>

<div id="body-content" data-bind="template: { 'name': CurrentTemplate(), data: BindingContext}">
</div>

