@model ViewModel.Others.ErrorModel
@{
    ViewBag.Title = "Unauthorized";
}
<div class="error-page-wrapper">
    <div class="template-wrapper" style="width: 700px; margin: 35px 65px 15px; -webkit-border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px; border-radius: 0 0 6px 6px; background-color: #fff; -webkit-box-shadow: 0 2px 1px rgba(255,255,255,.1); -moz-box-shadow: 0 2px 1px rgba(255,255,255,.1); box-shadow: 0 2px 1px rgba(255,255,255,.1);">
        <div class="template-body" style="margin: 0 40px; background-color: #fff; padding: 20px 0;">
            <div class="title" style="font-family: Arial; font-size: 26px; font-weight: bold; color: red;text-align:center;">You are not authorized to see this page!</div>
        </div>
    </div>
</div>
