@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        NavigationModel.getInstance().SetToReports();
    });
</script>
<div>
    <h2>Reports</h2>
</div>
