html {
  height: 100%;
}

body {
     margin: 0;
     padding: 0;
     align-content: center;
}

.clear
{
    clear: both;
}
.container {
    width: auto;
    padding:60px;
}
.wrapper { position: relative}