@{
    ViewBag.Title = "GetFacts";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        NavigationModel.getInstance().SetToFacts();
    });
</script>

<h2>GetFacts</h2>
